---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<div id="sq" class="bg-parchment px-2 sq-styles">
  <h3 class="text-lg font-bold pt-5">{title}</h3>
  <p>{paragraph}</p>
</div>
