---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<div id="sq" class="sq-styles py-3 px-5">
  <h3 class="text-lg font-bold">{title}</h3>
  <p>{paragraph}</p>
</div>
