---
import DynamicAboutCTA from "../shared/DynamicAboutCta";
import ButtonProps from "../shared/ButtonProps.astro";
---

<section id="about-page-cta" class="bg- my-5 p-5">
  <div id="homepage-container" class="py-5 my-5">
    <div id="homepage-grid" class="grid md:grid-cols-2 gap-5">
      <div id="homepagesq1" class="orange flex justify-end">
        <div
          id="homepage-sq1-container"
          class="2xl:w-1/2 flex justify-center items-center bg-"
        >
          <DynamicAboutCTA isLoggedIn={false} username="About" />
        </div>
      </div>
      <div id="homepage-sq2" class="row-span-2">
        <img
          src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles"
        />
      </div>
      <div id="homepage-sq3" class="teal flex justify-end">
        <ul class="2xl:w-1/2">
          <li>
            -address key problem your client is experiencing' Ive spent time
            learning how to simplify the design process so you can focus on your
            business instead
          </li>
          <li>-the ablity to tell your story and brand</li>
          <li>Increased potential customers, easier to find on Google.</li>
          <ButtonProps btn1="cta to MainGoals/ about pg" btn1Link="/about" />
        </ul>
      </div>
    </div>
  </div>
</section>
