---
import AboutSection1 from "../shared/AboutSection1.astro";
---

<section id="address-key-problem" class="bg-">
  <!-- ?CONTENT TO COME BACK TO V -->
  <!-- 1.You’re an artist, not a tech coyote. No in-house web skills, and can't afford a large up-front website cost?
 2. You’d love a website to show off your work and draw in more clients—but who has time to chase code through the desert? - Need frequent updates (event calendars, promotions, new photos/products) 
 3. Want something beautiful and functional, not generic? If building your own site feels like howling at the moon, don’t worry. You don’t need to do it all yourself.
 4. Laughing Coyote Dev builds websites that let your creativity roam free—without charging you for a bunch of things you don’t need.
 -->
  <!-- ?CONTENT TO COME BACK TO ^ -->

  <!-- ?? What problems does LC solve? -->
  <AboutSection1
    title="Pain Points to Address:"
    paragraph1="You’re struggling to get [desirable result] because you don't have [missing piece]"
    paragraph2="You have [example], but you aren't [achieving this result]"
    paragraph3="How does this make them feel?"
    paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same?"
  />
</section>
