---
import AboutSection2 from "../shared/AboutSection2.astro";
---

<div id="AIDA" class="bg- md:px-5 px-0">
  <AboutSection2
    title="ATTENTION, problem "
    paragraph1="INTEREST, highlight risk"
    paragraph2="DESIRE, set a plan "
    paragraph3="ACTION, positive outcome achieved"
  />
</div>
