---
import AboutSection2 from "../shared/AboutSection2.astro";
---

<div id="AIDA" class="bg- md:px-5 px-0">
  <!-- TODO: V -->
  <!-- 1. title = ATTENTION, problem -->
  <!-- 2. paragraph1 = INTEREST, highlight risk -->
  <!-- 3. paragraph2 = DESIRE, set a plan -->
  <!-- 4. paragraph3 = ACTION, positive outcome achieved -->
  <!-- TODO: ^ -->

  <AboutSection2
    title="ATTENTION, problem "
    paragraph1="INTEREST, highlight risk"
    paragraph2="DESIRE, set a plan "
    paragraph3="ACTION, positive outcome achieved"
  />
</div>
