---
import ContactForm from "../ContactForm";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<div class="pt-[50px] py-[70px]">
  <div class="bg-">
    <CenterPageBanner
      BannerTitle="Contact"
      paragraph="I build custom applications for small businesses."
    />
  </div>
  <div class="grid 2xl:grid-cols-2 pt-[90px] mt-5">
    <ContactForm />
  </div>
</div>
