---
import CTA from "../shared/CTA.astro";
---

<div class="bg-teal text-parchment pl-[80px]">
  <CTA
    title="This is the new content cta"
    paragraph1="expand on contact pg"
    link="/contact"
    paragraph2="if you want to skip ahead,click here"
  />
</div>
