---
import FourImgBanner from "../FourImgBanner.astro";
---

<!-- ?CssTealTransition WHAT TO NAME THIS COMP -->
<div id="css-teal-transition" class="bg-">
  <div class="md:absolute relative">
    <FourImgBanner />
  </div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
</div>
