---
import ButtonProps from "../shared/ButtonProps.astro";
---

<!-- TODO: CHANGE FLEX TO GRID -->
<div id="testimonial-wrapper" class="bg- lg:m-3 py-5 bg- flex justify-center">
  <div
    id="grid-testimonial-container"
    class="w-[1300px] grid md:grid-cols-2 grid-cols-1 gap-5 p-5 2xl:mt-[105px]"
  >
    <div id="img-wrapper" class="bg- lg:pr-5 lg:mr-5">
      <img
        src="https://images.pexels.com/photos/6962993/pexels-photo-6962993.jpeg"
        alt=""
        class="my-2 sq-styles"
      />
    </div>

    <div id="testimonial-content-container" class="">
      <div
        id="testimonial-content"
        class="bg-parchment sq-styles text-teal p-5 mt-5 mb-5"
      >
        <h2 class="font-bold text-2xl">HoveyRoofing Testimonial</h2>
        <!--TODO CHANGE TO AIDA V--><!-- * CURRENTLY: FIGURE OUT AIDA SECTION -->
        <p id="" class="bg-">
          This is the paragraph content for HoveyRoofing. Lorem ipsum dolor sit
          fhdk fhdsjhf fdskh kdsf ds.
        </p>
        <p id="" class="bg-">
          This is the paragraph content for HoveyRoofing. Lorem ipsum dolor sit
          amet.
        </p>
        <ButtonProps btn1Link="/#about-cta" btn1="go to about section" />
      </div>
    </div>
  </div>
</div>
