

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  scroll-behavior: smooth;
  
}

* {
  box-sizing: border-box;
}

 
h2 {
  font-size: 18px;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

p {
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 8px;
}

._shadowText1 {
  text-shadow: 2px 2px 2px black;
}

._shadowText2 {
  text-shadow: 2px 2px 2px teal;
}

.hover_effect {
}
  

/* MOBLE SIZE ABOUT ME FONT */
#section-about-me #dynamic-title {
  font-size: 30px;
}

@media screen and (max-width: 900px) {
#section-about-me #dynamic-title {
  font-size: 20px;
}
}


#about-paragraph2 {
 margin-top: 25px;
}
/* MOBLE SIZE ABOUT ME FONT */



/* //* FOR SKILLS ICON ----v*/
.skills-sq {
  border: 1px solid #B18D9B;
  background: #f9f9f9 ;
  text-align: center;
  border-radius: 10px;
  
}

.skills-sq #img-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0792a5;
  padding: 5px;
  border: 2px solid #313638;
}


.skills-sq #img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-sq #img-icon{
 background: #0792a5;
 border-radius: 10px;
 margin-top: 15px;
}


#img-icon #skill-sq1 {
    color: blue;
}

/* //* FOR SKILLS ICON ----^*/

  


 
 #section-about-me #img-icon {
    transform: scaleX(-1);
 }