---
import DynamicAbout from "../DynamicAbout.astro";
---

<section id="section-about-me" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg="https://dl.dropboxusercontent.com/scl/fi/xzfhk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=run4yzui&dl=0"
    title=" Hi there, I'm Elsa. This is a portfolio showing off my websites... all built with pure determination and endurance!"
    paragraph1="My interests with programming started when I wanted to bring my own passion projects to life. I felt like I was missing out on creative opportunities to build something all on my own, and have been hooked since then. "
    paragraph2=" This portfolio is also my opportunity to prove that it's still possible to create a new career in web development, even when I was discouraged by all the quick changes, especially with AI... People can argue that everythings been done... but they cannot account for the amount of all amazing things that exist, things that can still be created into something new. All of my sites are proof of this, a combination of multiple niches to create maybe something simalar, but that something that is mine. And now dear reader... let me help create something that is yours!"
  />
</section>
