---
import DynamicAbout from "../DynamicAbout.astro";
import Lists from "../sandbox/Lists.astro";
---

<!-- People don't buy products or services, they buy better versions of themselves! -->The
Growing Pup → beginner stage The Rising Carnivore → established and growing The
Alpha → leader / dominant business
<section id="how-it-works" class="bg- xl:mr-2 pl-3 pr-1 bg-">
  <Lists
    title="interview"
    paragraph=" I host it for them. Clients do not know what to do with the files or how to even edit them. I set it up on my one account for them and charge them monthly. They prefer that. Get some recurring revenue"
  />
  <Lists
    title="design"
    paragraph=" I have two packages: 1) I have lump sum $3500 minimum for 5 pages and $25 a month hosting and general maintenance, 2) $0 down $150 a month, unlimited edits, 24/7 support, hosting, etc."
  />
  <Lists
    title="develop"
    paragraph=" I host it for them. Clients do not know what to do with the files or how to even edit them. I set it up on my one account for them and charge them monthly. They prefer that. Get some recurring revenue"
  />
  <Lists
    title="launch"
    paragraph=" I have two packages: 1) I have lump sum $3500 minimum for 5 pages and $25 a month hosting and general maintenance, 2) $0 down $150 a month, unlimited edits, 24/7 support, hosting, etc."
  />
</section>
