---
import DynamicAbout from "../DynamicAbout.astro";
---

<!-- People don't buy products or services, they buy better versions of themselves! -->
<section id="how-it-works" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg=""
    title="How it works"
    paragraph1="I host it for them. Clients do not know what to do with the files or how to even edit them. I set it up on my one account for them and charge them monthly. They prefer that. Get some recurring revenue."
    paragraph2=" I have two packages: 1) I have lump sum $3500 minimum for 5 pages and $25 a month hosting and general maintenance, 2) $0 down $150 a month, unlimited edits, 24/7 support, hosting, etc."
  />
</section>
