---

---

<p id="NEW P1" class="bg- font-bold mt-[55px] pr-2 py-5 2xl:text-lg text-md">
  Hi there, I'm Elsa. This is a portfolio showing off my websites... all built
  with pure determination and endurance.I weave interesting stories and web
  development together ❤️.
</p>

<img
  src="https://dl.dropboxusercontent.com/scl/fi/v987mn7uciubojuyzt2l0/eh-img.jpg?rlkey=kud67wutqibhy9iwna9z50679&st=4vy6xe1e&dl=0"
  alt="Elsa Hovey, portfolio-img"
  class="bg-munsell border border-[#88B7B5] rounded-lg opacity-90 2xl:w-1/2 w-3/4 l-2"
/>
