---

---

<div
  class="bg- border border-black border-t-2 border-r-2 font-medium rounded-lg py-5 bg-[#] ml-2 mr-5"
>
  <div id="about-tech-stacks-CONTAINER" class="bg- p-5 ml-2">
    <p class="font-bold text-3xl">Tech I work with:</p>

    <div class="grayscale">
      <img
        src="https://logo.svgcdn.com/logos/php.png"
        alt=""
        width="125"
        class="bg-"
      />
      <img
        src="https://logo.svgcdn.com/devicon/astro-original-wordmark.png"
        alt=""
        width="125"
        class="bg-"
      />
      <img
        src="https://logo.svgcdn.com/logos/sanity.png"
        alt=""
        width="125"
        class="bg-"
      />
      <img
        src="https://logo.svgcdn.com/devicon-plain/wordpress-plain-wordmark.png"
        alt=""
        width="126"
      />
    </div>
  </div>
</div>
