---
import DynamicAbout from "../DynamicAbout.astro";
---

<!-- ADDRESS KEY PROBLEM- what problem LC solves-IP --><!-- AIDA CONTENT --><!-- - NOTE: how to create prices that scale? How to raise prices with older clients?   --><!-- A: decide what to offer now, and what to offer in the near and far future. Show increased and obvious value to customers. -->
<section id="about-index" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg="https://dl.dropboxusercontent.com/scl/fi/xzfhk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=run4yzui&dl=0"
    title="Whats LC"
    paragraph1="why are Portfolio templates in huge demand? Modern portfolio templates, A strong aesthetic helps them stand out instantly, creative portfolio layouts, "
    paragraph2=" house analogy..../ start with basic, scale up as your business grows"
  />
</section>
