---
export interface Props {
  BannerTitle: string;
  paragraph: string;
}

const { BannerTitle, paragraph } = Astro.props as Props;
---

<div id="BannerTitle-wrapper" class="mt-[150px] pt-5">
  <div id="BannerTitle-section" class="bg- flex justify-center">
    <div id="title-banner" class="flex items-center">
      <div id="icon-wrapper" class="text-5xl"></div>
      <h1
        class="underline pl-2 2xl:text-5xl md:text-4xl text-3xl pb-2 pt-2 font-bold"
      >
        {BannerTitle}
      </h1>
    </div>
  </div>

  <div id="Banner-paragraph" class="bg- flex justify-center md:mb-5">
    <div class="pt-1 pb-5 bg-">
      <p class="text-xl px-5 mx-5 max-w-6xl">
        {paragraph}
      </p>
    </div>
  </div>
</div>
