---
export interface Props {
  BannerTitle: string;
  paragraph: string;
}

const { BannerTitle, paragraph } = Astro.props as Props;
---

<div id="BannerTitle-wrapper" class="bg- mt-[150px] pt-5 pl-5">
  <div id="BannerTitle-section" class="pl-5 ml-5">
    <div id="title-banner" class="">
      <h1 class="2xl:text-5xl md:text-4xl text-3xl pb-2 pt-2 font-semibold">
        {BannerTitle}
      </h1>
    </div>

    <div id="Banner-paragraph" class="bg- md:mb-5">
      <p class="text-xl">
        {paragraph}
      </p>
    </div>
  </div>
</div>
