---
import DynamicAbout from "../../DynamicAbout.astro";
---

<section id="about-index" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg="https://dl.dropboxusercontent.com/scl/fi/xzfhk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=run4yzui&dl=0"
    title="Four Case Studies"
    paragraph1="what do all these have in common? "
    paragraph2="for why?"
  />
</section>
