---
import DynamicAbout from "../../DynamicAbout.astro";
---

<section id="about-me" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg=""
    title="Different types of styles"
    paragraph1=" I'm not just a coder who designs — I'm a designer who builds."
    paragraph2=" -I want to use this idea towards my portfolio to show off diverse styles."
  />
</section>
