---
import DynamicAbout from "../../DynamicAbout.astro";
---

<section id="about-me" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg=""
    title="Services"
    paragraph1=" I build a recognizable style systems, not just templates:"
    paragraph2="color palette systems, layout patterns, typography pairings, component libraries, Astro + React theme starter kits (your stack), brand kits + site templates together (Designers pay more for coherent systems than single templates.)"
  />
</section>
