---
import DynamicAbout from "../../DynamicAbout.astro";
import Lists from "../../sandbox/Lists.astro";
---

<section id="about-styles" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg=""
    title="Different types of styles"
    paragraph1="What are the benefits of these styles?"
    paragraph2="templates that don't look like templates"
  />
</section>

<section class="grid grid-cols-3 gap-5 p-5 mr-5">
  <Lists title="title" paragraph="vacation” emotional vibe" />
  <Lists title="neubrutalism" paragraph="vacation” emotional vibe" />
  <Lists title="minimal layouts" paragraph="vacation” emotional vibe" />
  <Lists
    title="bold color palettes (coral, turquoise, sand, sun tones)"
    paragraph="vacation” emotional vibe"
  />
  <Lists title="glassmorphism" paragraph="vacation” emotional vibe" />
  <Lists title="geometric shapes" paragraph="vacation” emotional vibe" />
  <Lists title="airy luxury feel" paragraph="vacation” emotional vibe" />
</section>

<section id="about-me" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg=""
    title="Different types of styles"
    paragraph1=" I'm not just a coder who designs — I'm a designer who builds."
    paragraph2=" -I want to use this idea towards my portfolio to show off diverse styles."
  />
</section>
