---
import { IoArrowBack } from "react-icons/io5";
---

<div id="back-btn-wrapper" class="mt-5 pt-5">
  <button id="back-btn" class="text-onyx hover:text-black text-6xl m-5 p-1">
    <a href="/"><IoArrowBack /></a>
  </button>
</div>
