---
import NavItems from "./NavItems.astro";
---

<header class="bg-">
  <div
    id="logo"
    class="text- 2xl:text-9xl lg:text-8xl text-7xl pb-1 opacity-90"
  >
    <a href="/"> Laughing <br /> Coyote</a>
  </div>
  <NavItems />
</header>
