---
const items = [
  //AIDA --V
  {
    icon: "start here",
    link: "/#whats-lc ",
  },
  //HOW IT WORKS --V

  {
    icon: "how it works",
    link: "/#how-it-works ",
  },
  //WHATS INCLUDED --V
  //INSERT SOCIAL PROOF-TESTIMONIAL --V
  {
    icon: "whats included",
    link: "/#whats-included ",
  },
  {
    icon: "about",
    link: "/#about",
  },
  {
    icon: "contact",
    link: "/#contact ",
  },
];
---

<nav id="nav-items" class="py-1 mt-2 ml-1">
  <div class="pl-2 opacity-90 text- flex justify-left">
    <div class="border-t border-b border-carribean flex flex-col py-2">
      {
        items.map((item) => (
          <div class="flex items-center space-x-2 text-xl font- ml-1">
            <a href={item.link}>{item.icon}</a>
          </div>
        ))
      }
    </div>
  </div>
</nav>
