---
const frontmatter = Astro.props;
const { no, image, alt, url } = frontmatter;
---

<div id="CARD" class="mt-5 py-5 bg-">
  <div class="bg- pt-1 pb-1 pl- pr-1">
    <h3 class="text-xl text-gray-500">{no}</h3>
  </div>

  <div class="">
    <div id="sq1" class="2xl:col-span-4">
      <a href={url}>
        <img
          src={image}
          class="opacity-60 hover:opacity-100 grayscale hover:grayscale-0 duration-500 mt-1 mr-5 p-1 rounded border bg-[#f9f9f9] border-rosyBrown hover:border-cerulean drop-shadow-xl hover:drop-shadow-3xl"
          alt={alt}
        />
      </a>
    </div>
  </div>
</div>
