---
import About from "../sections/About.astro";
import HowItWorks from "../sections/HowItWorks.astro";
import WhatsIncluded from "../sections/WhatsIncluded.astro";
import Accordion from "./Accordion.astro";
---

<div id="accordion-container" class="p-5">
  <Accordion title="whats included">
    <WhatsIncluded />
  </Accordion>

  <Accordion title="How it works ">
    <HowItWorks />
  </Accordion>

  <Accordion title="About">
    <About />
  </Accordion>
</div>
