---
const today = new Date();
---

<footer class="bg-teal text-parchment text-center w-full pt-[150px] pb-[30px]">
  <p class="pt-5">
    developed by <span class="font-bold">
      <a href="https://elsahovey.com">Elsa Hovey</a>
    </span>
  </p>
  <p>Copyright &copy; {today.getFullYear()}</p>
</footer>
