---

---

<div
  id="LEFT-PANEL-wrapper"
  class="bg-mutedTeal h-full md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div
    id="LEFT-PANEL-container"
    class="bg- py-5 2xl:pl-5 2xl:pr-[30px] pl-1 pr-5 bg- border-r-2 border-black"
  >
    <slot />
  </div>
</div>
