---
import AboutMe from "../components/sections/AboutMe.astro";
import Overview from "../components/sections/Overview.astro";
import Header from "../components/Header.astro";
---

<div
  id="LEFT-PANEL-wrapper"
  class="text-[#023047] h-screen md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div
    id="LEFT-PANEL-container"
    class="bg- py-5 2xl:pl-5 2xl:pr-[30px] pl-1 pr-5 bg- border-r-2 border-black"
  >
    <Header />
    <div id="indent-left" class="2xl:pl-0 pl-2">
      <AboutMe />
      <Overview />
    </div>
  </div>
  <div
    id="left-panel-footer"
    class="flex justify-end items-end bg-aliceBlue border-r border-black"
  >
  </div>
</div>
