---

---

<div
  id="RIGHT-PANEL"
  class="bg-parchment text-carribean medium 2xl:h-screen h-full md:absolute relative right-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden"
>
  <div id="right-panel-wrapper" class="border-l-2 border border-gray-500 p-">
    <div id="right-panel-container" class="bg rounded-bl">
      <slot />
    </div>
  </div>
</div>
